{% extends 'base.html.twig' %}


    {% block title %}
        Connexion
    {% endblock %}



{% block body %}

<main>
    
        <div class="container">
            <div class="divider"></div>
                <div class="heading">
                    <h2>Connexion</h2>
                </div>

                <div class="check col-lg-6">
                    <form method="POST" action="/dashboard">
                
                        <div class="col-lg-8">
                            <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre email avec qui que ce soit.</div>
                        </div>

                        <div class="col-lg-8">
                            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1"><br>
                        </div>

                        <div class="col-lg-8">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Cochez-moi</label>
                        </div>
                        
                        <div class="col-lg-8">
                            <button type="submit" class="btn btn-warning">Valider</button>
                        </div>

                        {% if error is defined %}
                            <div class="alert alert-danger mt-3 col-lg-8">{{ error|escape }}</div>
                        {% endif %}
                        
                        {% if success is defined %}
                            <div class="alert alert-success mt-3 col-lg-8">{{ success|escape }}</div>
                        {% endif %}
                        
                        {% if error %}
                            <div class="alert alert-danger mt-3 col-lg-8">{{ error }}</div>
                        {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}