* {
margin: 0;
padding: 0;
}


header {
    background-color: #050505;
}

header li a {
    color: #F9DA3f;


}


main {
    background-color: rgb(84, 93, 101);
    padding: 2%;
    
}

.dash {
    text-align: center;
    background-color: #000000 ; 

}


.dash h1 {
    text-align: center;
    color:#F9DA3f;
    font-family: 'Lato' sans-serif;
    text-shadow: 1px 3px rgb(10, 10, 10);
    font-weight: 600;

}


.vue {
    display: flex;
    align-items: center;
    flex-direction: row;

}


.foot {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse
}



.englob {
    display: contents;
}



.fermer {
    padding: 5%;
    text-align: center;
    cursor: pointer;
    color: #050505;
}



.card-body {
    background-color:#cdcccc;
    color: #fff;

}



.logo h6 {
    text-align: center;
    font-size: medium;
    color: #050505;
    font-weight: 500;
}

.logo {
    background-color: #5b5858;
    text-align: center;
    color: #050505;
    
}

.logo img {
    width: 20px;
    height: 20px;
}



.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-color: #b7b5b5;
    padding: 2%;
    text-align: center;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
}


.activity button {
    margin-top: 2%;
}